@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary-color: #AA9FB1;
    --secondary-color: #CCA7A2;
    --accent1-color: #D9BBF9;
    /* --accent2-color: #4E5283; */
    --accent2-color: rgb(31, 2, 51);

    --heading-font: 'Noto Sans', sans-serif;
    --paragraph-font: 'Noto Sans Thin 100', sans-serif;

    --nav-background-color:var(--primary-color);
    --nav-link-color:var(--accent2-color);
    --nav-hover-link-color:var(--accent1-color);
    --nav-hover-background-color:var(--secondary-color);
}

h1, h2, h4, h5, h6 {
    font-family: var(--heading-font);
    color: indigo;
}

.container h1 {
    position: absolute;
    text-align: center;
	font-size: 1.5rem;
    background-color: rgba(216, 176, 176, 0.5);
    padding: 10px;
    z-index: 1;
    top: 50%;
    left: 5%;
    width: 90%;
    box-sizing: border-box;
}

h2, h1 {
    text-align: center;
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    background-color: rgba(216, 176, 176, 0.5);
    padding: 10px;
    top: 50%;
    left: 5%;
    box-sizing: border-box;

}

.img {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    top: 50%;
    left: 5%;
    box-sizing: border-box;

}

h3 {
    font-family: var(--heading-font);
    color: var(--accent1-color);
    position: relative;
    text-align: center;
	font-size: 1.5rem;
    background-color: var(--accent2-color);
    padding: 10px;
    z-index: 1;
    top: 50%;
    left: 25%;
    width: 50%;
    box-sizing: border-box;
}

.p {
    position: relative;
    text-align: center;
	font-size: 1.5rem;
    background-color: rgba(216, 176, 176, 0.5);
    padding: 10px;
    z-index: 1;
    top: 50%;
    left: 25%;
    width: 50%;
    box-sizing: border-box;
}

.map {
    position: relative;
    padding: 10px;
    z-index: 1;
    top: 50%;
    left: 35%;
    width: 50%;
    box-sizing: border-box;
}

h4 {
	/* border-bottom: 1px solid #ccc;  */
    font-size: 1rem;
    padding: 10px; 
}

.select {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
}

.hero img {
    display: block;
    position: relative;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    height: 600px
}

.article {
    position: absolute;
        border: 1px solid black;
        background-color: rgba(145, 118, 206, 0.911);
        padding: 50px;
        margin: 10px;
        z-index: 1;
        top: 400px;
        left: 50%;
        transform: translate(-50%);
    display: flex;
    justify-content: flex-end;
}

article img {
    display: flex;
    justify-content: center;
}

header {
    margin: 1rem auto;
	display: grid;
	grid-template-columns: 120px 1fr 2fr;
	align-items: center;
	border-bottom: 1px solid #ccc;
	max-width: 4000px;
    background-color: var(--accent1-color);
}

p {
    padding: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    margin: 10px;
    z-index: 1;
    top: 400px;
    left: 50%;
}

.section {
    padding: 10px;
    display: flex;
    flex-direction: row;
}

figure {
    border: thin #c0c0c0 solid;
    display: flex;
    flex-flow: column;
    padding: 5px;
    max-width: 220px;
    margin: auto;
  }
  
figcaption {
    background-color: #222;
    color: #fff;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
  }

.logo img {
	margin: 0 0.25rem 0 1rem;
	width: 200px;
	height: auto;
}

nav {
    /* background-color: var(--nav-background-color); */
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    list-style: none;
    text-decoration: none;
    text-align: right;
}

nav a {
    display: block;
    color: var(--accent1-color);
    text-decoration: none;
    padding: 1rem;
}

.navigation li {
    display: flex;
	flex: 1 1 100%;
}

nav a:link, nav a:visited {
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(--accent2-color);
    background-color: lavender;
    text-decoration: underline;
}

footer {
    display: flex;
    justify-content: flex-end;
    max-width: 4000px;
    background-color: var(--accent1-color);
}

form {
    width: auto;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    background-color: var(--accent1-color);
    display: grid;
}

fieldset {
    display: grid;
    grid-gap: .5rem;
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 1rem;
}

legend {
    padding: 0.5rem;
    color: var(--accent2-color);
    font-size: 1.3em;
}

label {
    text-align: right;
    padding-right: 1rem;
}

input, select, textarea {
    padding: 0.3rem;
    font-size: 1rem;
}

input[type="checkbox"] {
    width: 22px;
    height: 22px;
    vertical-align: bottom;
}

input[type="radio"] {
    display: flex;
    justify-content: flex-end;
    width: 20px;
    height: 20px;
}

button {
    margin: 1rem;
    background-color: var(--accent2-color);
    color: white;
    border: none;
    border-radius: .5rem;
    padding: .75rem;
    font-size: 1.2rem;
}
  
button:hover {
    background-color: var(--primary-color);
    color: var(--accent2-color);
}  


.form-item {
    display: flex;
    justify-content: flex-start;
}

.column1 {
    grid-template-columns: 3fr 1fr;
    margin: 1.5rem 1rem;
    width:900px;
    height: 50px;
}

.column2 {
    width: auto;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    grid-template-columns: 1fr 2fr;
    margin: 0.5rem 0.5rem;
}

textarea {
    width: 100%;
    height: 85px;
    padding: 20px 20px ;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
}

button {
    width: 200px;
    text-align: center;
    margin: 0% 40%;
}

.primary-color {
    background-color: var(--primary-color);
}

.secondary-color {
    background-color: var(--secondary-color);
}

.accent1-color {
    background-color: var(--accent1-color);
}

.accent2-color {
    background-color: var(--accent2-color);
}