@import url(https://fonts.google.com/noto/specimen/Noto+Sans?query=noto);

body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}

:root {
    --primary-color: #AA9FB1;
    --secondary-color: #CCA7A2;
    --accent1-color: #D9BBF9;
    --accent2-color: #4E5283;

    --heading-font: 'Noto Sans', sans-serif;
    --paragraph-font: 'Noto Sans Thin 100', sans-serif;

    --nav-background-color:var(--primary-color);
    --nav-link-color:var(--accent2-color);
    --nav-hover-link-color:var(--accent1-color);
    --nav-hover-background-color:var(--secondary-color);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--accent2-color);
}

header {
    padding: 20px;
    background-color: var(--accent1-color);
}

p{
    padding: 25px;
}

nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
}

nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link, nav a:visited {
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}

.primary-color {
    background-color: var(--primary-color);
}

.secondary-color {
    background-color: var(--secondary-color);
}

.accent1-color {
    background-color: var(--accent1-color);
}

.accent2-color {
    background-color: var(--accent2-color);
}